@use "../../assets/scss/mixin";

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f172a;
    color: #ffffff;
    padding: 80px 0 30px;
    font-family: 'Segoe UI';
    p{
        color: #94a3b8;
        font-size: 16px;
        line-height: 1.6;
    }
    h3{
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }
    .footer__container{
        display: grid;
        grid-template-columns: repeat(4,275px);
        gap: 48px;
        padding: 16px;
        justify-content: center;
        align-items: start;
        
        .footer__section{
            display: flex;
            flex-direction: column;
            gap: 12px;

            a{
                text-decoration: none;
                color: #cbd5e1;
                transition: color 0.3s ease;
                &:hover{
                    color: #ef4444;
                }
            }
            .footer__section__logo{
                display: flex;
                align-items: center;
                padding: 16px;
                img{
                    max-width: 35px;
                    color: white;
                }
                
            }
            //Iconos Redes
            .footer__section__redes{
            display: flex;
            justify-content: start;
            padding: 16px;
            gap: 12px;
            .icon__redes{
                @include mixin.style__icon(#d6b5d5, #1e293b)
            }
        }
        .footer__section__contacto{
            display: flex;
            align-items: center;
            gap: 12px;
            .icon__contacto{
                @include mixin.style__icon(#2563eb, #1e293b);
            }
        }
        .footer__section_suscribete{
            display: flex;
            gap: 12px;
            input{
            background: #1e293b;
            border: 1px solid #334155;
            padding: 12px;
            border-radius: 8px;
            color: white;
            flex: 1;
            outline: none;
            }
            button{
            @include mixin.style__button(white, #ef4444, #dc2626)
        }
        }
    }
    }
    .footer__bottom{
        display: flex;
        justify-content: space-evenly;
        .footer__bottom_section{
            display: flex;
            align-items: center;
            gap: 16px;
            a{
                text-decoration: none;
                color: #cbd5e1;
            }
        }
    }
    
}