header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .header__section{
        display: flex;
        align-items: center;
        gap: 12px;
        img{
            width: 45px;
        }
    }
}